NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cst_booking_system?schema=public"
JWT_SECRET="replace-this-with-at-least-32-random-characters"
JWT_EXPIRES_IN="7d"
CLIENT_ORIGIN="http://localhost:5173"
COOKIE_SECURE=false
LAUNDRY_RESOURCE_COUNT=4
GROUND_RESOURCE_NAME="CST Football Ground"
